<form>
  <div class="row">

    <div class="form-group col-6">
      <input type="text" class="form-control" placeholder="Type a filter" aria-label="Text to search" 
      aria-describedby="btnSearch" [(ngModel)]="filteredText" maxlength="50" name="TextToSearch"
      (keyup)="filter()">
    </div>

    <div class="form-group col-6 text-right">
      <a [routerLink]="['add']">
        <img src="assets/add-contact.png" /> Add Contact
       </a>      
    </div>    
 </div>
</form>
<p *ngIf="!contacts.length">No contacts found</p>
<table class="table table-striped table-hover" *ngIf="contacts.length">
  <thead class="thead-dark">
  <tr>
    <th scope="col" class="">First Name</th>
    <th scope="col" class="">Last Name</th>
    <th scope="col" class="text-center d-none d-sm-table-cell">Emails</th>
    <th scope="col" class="text-center d-none d-sm-table-cell">Phones</th>
    <th scope="col" class="">&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let contact of contacts">
    <td>{{ contact.firstName }}</td>
    <td>{{ contact.lastName }}</td>
    <td class="text-center d-none d-sm-table-cell">{{ contact.emailsCount }}</td>
    <td class="text-center d-none d-sm-table-cell">{{ contact.phonesCount }}</td>
    <td class="text-center">
      <a title="Card" [routerLink]="['card', contact.contactId]">
        <img src="assets/card.png" />
      </a>      
      &nbsp;
      <a title="Edit" [routerLink]="['edit', contact.contactId]">
          <img src="assets/edit.png" />
      </a>
      &nbsp;
      <a title="delete" (click)="remove(contact.contactId);" style="cursor:pointer;">
          <img src="assets/delete.png" />
      </a>
    </td>
  </tr>
  </tbody>
</table>

<ngb-pagination *ngIf="total > pageSize"
  class="d-flex justify-content-center"
    [collectionSize]="total" 
    [(page)]="page" 
    [pageSize]="pageSize" 
    (pageChange)="gotoPage($event)">
</ngb-pagination>
